@import './components/CartList/cart_list';
@import './components/CartProduct/cart_product';
@import './components/PurchaseController/purchase_controller';

.cart {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}