.glass-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;

  .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: calc(200px + 10vw);
    // min-height: 450px;

    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.7);
    border-right: 2px solid rgb(255, 255, 255, 0.4);
    border-bottom: 2px solid rgb(255, 255, 255, 0.4);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    transition: 0.6s;

    padding: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background: rgb(255, 255, 255, 0.6);
      transform: skewX(45deg) translateX(calc(400px + 20vw));
      transition: 0.6s;
    }

    &:hover {
      &::before {
        transform: skewX(45deg) translateX(calc(-400px - 20vw));
      }
    }

    .box_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .box_subtitle {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: calc(14px + 0.390625vw);
        font-weight: 500;
        color: rgb(224, 165, 0);
      }

      .icon {
        background: linear-gradient(315deg, rgb(224, 165, 0), rgb(250, 48, 82));
        fill: white;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(white, 0.5);
        width: 40px;
        height: 40px;
        padding: 5px;
      }
    }

    .box_title {
      color: white;
      font-size: calc(18px + 0.390625vw);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .box_description {
      color: white;
      font-size: calc(14px + 0.390625vw);
      // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .box_linebreak {
      align-self: center;
      width: 80%;
      border-top: 1px solid rgba(white, 0.5);
    }

    table {
      justify-self: end;
      width: 100%;
      border-collapse: collapse;

      .icon {
        fill: rgb(224, 165, 0);
        height: 25px;
        width: 25px;
      }

      td {
        padding-left: 10px;
        color: rgba(white, 0.8);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: calc(14px + 0.390625vw);
      }
    }
  }
}

@media (max-width: 768px) {
  .glass-boxes {
    .box {
      width: 90%;

      &::before {
        transform: skewX(45deg) translateX(150vw);
      }

      &:hover {
        &::before {
          transform: skewX(45deg) translateX(calc(-150vw));
        }
      }
    }
  }
}

@media (min-width: 770px) {
  .glass-boxes {
    .box {
      width: 30%;
    }
  }
}