.cart-list {
  background-color: white;
  height: calc(100vh - 100px - 0.390625vw);
  width: calc(100vw - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    width: 100%;
    border-collapse:collapse;
    border:.5px solid #E8F1F2;
    row-gap: 10px;

    .table-header {
      position: sticky;
      top: 0;
      background-color: red;
    }

    tr:nth-child(even){
      background-color:#E5EFF0;
    }
  }

  h1 {
    font-family: 'Cherry Bomb One';
    font-size: calc(50px + 0.390625vw);
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: green;
    padding: calc(10px + 1vw);
  }
}