.banner-swiper {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  swiper-container {
    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}