.category-menu {
  background-color: rgba(black, 0.4);
  height: calc(100vh - 80px - 0.390625vw);
  width: 25vw;
  position: sticky;
  border-radius: 10px;
  left: -10px;
  top: calc(80px + 0.390625vw);
  margin-top: 20px;
  transition: all 0.5s ease;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: rgba(black, 0.8)
  }

  &.sticky {
    margin-top: 0px;
    transition: all 0.5s ease;
  }

  .expand-button {
    display: none;
  }

  h3 {
    color:rgb(224, 165, 0);
    width: 100%;
    border-bottom: 2px solid rgb(224, 165, 0);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: calc(20px + 0.390625vw);
    font-family: 'Noto Sans';
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(black, 0.4);
    border-radius: 50px;
    border: 1px solid silver;
    margin-top: 10px;
    margin-bottom: 10px;

    .search-input {
      width: 100%;
      height: 90%;
      border: none;
      outline: none;
      border-radius: 50px;
      padding: 0 20px 0 20px;
      background: transparent;
      color: white;
    }

    button {
      outline: none;
      border-radius: 50%;
      min-width: 50px;
      min-height: 50px;
      border: 2px solid white;
      background: transparent;
      position: relative;
      left: 1px;
      cursor: pointer;
      transition: all 0.5s ease;

      .icon {
        width: 30px;
        height: 30px;
        fill: white;
        transition: all 0.5s ease;
      }

      &:hover {
        background-color: rgba(white, 0.3);
        border: 2px solid rgb(0, 217, 0);
        transition: all 0.5s ease;
        
        .icon {
          width: 35px;
          height: 35px;
          fill: rgb(0, 217, 0);
          transition: all 0.5s ease;
        }
      }
    }
  }

  .category-list {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    display: flex;
    flex-direction: column;
    gap: 20px;

    .category-all-button {
      display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: calc(15px + 0.390625vw);
        font-family: 'Noto Sans';
        color: white;
        
        .icon {
          width: 30px;
          height: 30px;
          fill: white;
        }

        &:hover {
          background-color: map-get($map: $template-colors, $key: "color1");
          color: rgb(0, 217, 0);

          .icon {
            fill: rgb(0, 217, 0);
          }
        }
    }

    .category-dropdown {
      color: white;
      display: flex;
      flex-direction: column;

      .select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: calc(15px + 0.390625vw);
        font-family: 'Noto Sans';

        &:hover {
          background-color: map-get($map: $template-colors, $key: "color1");
        }
      }
      .icon {
        width: 30px;
        height: 30px;
        fill: white;
        transition: all 0.5s ease;

        &.open {
          transition: all 0.5s ease;
          transform: rotate(180deg);
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #323741;
      border-radius: 5px;
      display: none;

      li {
        padding: 10px 10px 10px 10px;
        font-family: 'Noto Sans';
        font-size: calc(14px + 0.390625vw);
        border-radius: 5px;
        cursor: pointer;

        
        &:hover {
          background-color: #2a2d35;
        }
      }

      &.open {
        display: initial;
      }
    }
    
  }

  .category-list::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .category-menu {
    width: 100vw;
    height: calc(100vh + 20px);
    position: fixed;
    top: -20px;
    left: 0;
    padding-top: calc(100px + 0.390625vw);
    padding-right: 40px;
    background-color: black;
    transform: translateY(-100%);

    &:hover {
      background-color: black;
    }

    &.open {
      transform: translateY(0);
    }
  }
}